html{
    width: 1663px;
}


body {
    margin: 0;
}

#container {
    height: auto;
    width: all;

}

#div-logo-amazon {
    background-color:#222F3F ;
    width: 100%;
    height: 65px;

}

#logo {
    height: 35px;
    padding-top: 15px;
    padding-left: 30px;
}

nav {
    width: 100%;
    height: 30px;
    background-color:#364759 ;
}


nav p {
    display: inline-block;
    padding-left: 15px;
    color: white;
    font-size: large;
    margin-bottom: 0;
    margin-top: 5px;
    font-family: Arial;
}

main {
    margin: 0;
    text-align: center;
    
}

#div-main {
    background-color:#E9EDEE;  
    width: all;
    height: auto;
    text-align: center;
    margin:0;
}

#orange-box {
    display: inline-block;
    height: 30px;
    background-color: #F56600 ;
    width: 90%;
    margin-top: 20px;
    text-align: center;
}

#orange-box p{
    color: white;
    margin: 0;
    padding-top: 6px;
    font-family: Arial, Helvetica, sans-serif;
}

#holiday-gift{
    background-image: url(bg-image.png);
    background-size:auto;
    background-repeat: repeat;
    width : 90%;
    display : inline-block;
    height: 197px;
    margin-top: 25px
}

#holiday-gift h2 {
    margin-top: 70px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

#holiday-gift p {
    color: white;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

#container-article {
    
    background-color: #FFFFFF;
    width: 90%;
    height: 490px;
    display: inline-block;
    margin-top: 25px;
    text-align: left;
}


.h3pArticle {
    display:block;
    text-align: left;
    margin-top: 15px;
}

#container-article div h3 {

    padding-left: 30px;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
}

#container-article div p {

    padding-left: 25px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: #1A5E69;
    font-weight: 700;
    display: inline;
    text-align: center;

}



.article {

    width: 300px;
    height: 400px;
    margin-left: 55px;
    margin-top: 35px;
    border-radius: 15px;
    box-shadow: 6px 6px 12px 5px #A3A3A3
    ;
    
    
}

article{
    display: inline-block;

}

#article1 {
    background-image: url(img_1.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#article2 {
    background-image: url(img_2.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#article3 {
    background-image: url(img_3.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

}

#article4 {
    background-image: url(img_4.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

aside {
    text-align: center;
}

#firstbanner {
    display: inline-block;
    width: 90%;
    height: 500px;
    margin-top: 25px;
    background-image: url(img_9.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#secondbanner {
    display: inline-block;
    width: 90%;
    height: 500px;
    margin-top: 25px;
    background-image: url(img_10.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

aside h3 {
    display: inline-block;
    margin-top: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}

aside p {
    display: inline-block;
    margin-top: 3px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1A5E69;
    font-weight: 700;
    margin-left: 15px;
}

#firstfooter {
    width: 100%;
    height: 30px;
    background-color:#364759 ;
    text-align: center;
}

#anchor{
    padding-top: 7px;
}

a {
    color: white;
}

#secondfooter {
    background-color:#222F3F ;
    width: 100%;
    height: 100px;
    text-align: center;
}

#logo2 {
    height: 50px;
    padding-top: 25px;
}




    
    


